.swiper {
  overflow: hidden;
  position: relative;
  visibility: hidden; /* Hide until layout is ready. */
  cursor: url(packages/swiper/cursor/openhand.cur) 7 5, move;
  border: 2px solid;
  width: 50%;
  float: left;
  margin-right: 10px;
  max-width: 500px;
}

.page-container {
  position: relative;
  height: 100%;
}

.page-container > div {
  position: absolute;
  width: 100%;
  text-align: center;
}


/* Page Styling. */
.page-container img {
  max-width: 100%;
  height: auto;
}