body {
  margin: 10px 0 0 0;
  text-align: center;
}

.header {
  margin-bottom: 40px;
}

.footer {
  margin-top: 40px; 
}

.swiper {
  overflow: hidden;
  position: relative;
  height: 333px; /* Declare the height of the swiper. */
  visibility: hidden; /* Hide until layout is ready. */
  margin: auto;
  width: 500px;
  border: 2px solid;
}

.page-container {
  position: relative;
  height: 100%;
}

.page-container > div {
  text-align: center;
  position: absolute;
  width: 100%;
}